@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<aside class="sidebar_wrapper">
    <div class="menu_wrap">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <div class="sidebar_icon_wrap active">
                <img src="./assets/images/home.svg" alt="home">
                <p class="navigator">Home</p>
            </div>
        </a>
        <a asp-area="" asp-controller="MasterManagement" asp-action="Index">
            <div class="sidebar_icon_wrap">
                <img src="./assets/images/master-data.svg" alt="master-data">
                <p class="navigator">Master Data</p>
            </div>
        </a>
        <a  asp-area="" asp-controller="Department" asp-action="Index">
            <div class="sidebar_icon_wrap">
                <img src="./assets/images/roles.svg" alt="role">
                <p class="navigator">Manage Department</p>
            </div>
        </a>
        <a href="">
            <div class="sidebar_icon_wrap">
                <img src="./assets/images/manager.svg" alt="manager">
                <p class="navigator">Reporting Manager</p>
            </div>
        </a>
        <a href="">
            <div class="sidebar_icon_wrap">
                <img src="./assets/images/reports.svg" alt="reports">
                <p class="navigator">Reports</p>
            </div>
        </a>
        <a href="">
            <div class="sidebar_icon_wrap">
                <img src="./assets/images/audit-logs.svg" alt="audit-logs">
                <p class="navigator">Audit Logs</p>
            </div>
        </a>
        <a href="">
            <div class="sidebar_icon_wrap">
                <img src="./assets/images/manage-content.svg" alt="manage-content">
                <p class="navigator">Manage Content</p>
            </div>
        </a>
        <a href="">
            <div class="sidebar_icon_wrap">
                <img src="./assets/images/manage-notificaton.svg" alt="notification">
                <p class="navigator">Manage Notifications</p>
            </div>
        </a>
        <a href="">
            <div class="sidebar_icon_wrap">
                <img src="./assets/images/manage-grievance.svg" alt="grievance">
                <p class="navigator">Grievance Management</p>
            </div>
        </a>
    </div>
    <div class="logout_section">
        <div class="line_separator"></div>
        <div class="sidebar_icon_wrap">
            <img src="./assets/images/logout.svg" alt="home">
            <p class="navigator">Logout</p>
        </div>
    </div>
</aside>
