@{
    ViewData["Title"] = "Home Page";
}

    <!-- siderbar starts here  -->

    <!-- content start here  -->
    <main class="content_box">
        <div class="main_content_box common_box ">
            <div class="box_header">
                <h1 class="main_heading">User Dashboard</h1>
                <button class="button primary_button">View Report</button>
            </div>
            <div class="margin_bottom"></div>
            <div class="border_box">
                <h3 class="sub_heading">Task For Self</h3>
                <div class="margin_bottom box_border"></div>
                <div class="info_box">
                    <img src="./assets/images/speaker.svg" alt="speaker">
                    <p class="content_info">
                        Please Initiate your performance planning & Submit before 31st may
                        2025 !!
                    </p>
                </div>

            </div>

        </div>
        <div class="footer">
            <div class="footer_left">
                <p>© 2024, Powered by <span>IREDA</span></p>
            </div>
            <div class="footer_right">
                <div><img src="./assets/images/facebook.svg" alt="facebook"></div>
                <div><img src="./assets/images/instagram.svg" alt="instagram"></div>
                <div><img src="./assets/images/linkedin.svg" alt="linkedin"></div>
                <div><img src="./assets/images/youtube.svg" alt="youtube"></div>
            </div>
        </div>
    </main>
    <!-- footer starts here -->


